csharp-advanced/csharp-advanced/bin/Debug/csharp-advanced.exe
csharp-advanced/csharp-advanced/bin/Debug/csharp-advanced.pdb
csharp-advanced/csharp-advanced/obj/Debug/csharp-advanced.csproj.FileListAbsolute.txt
csharp-advanced/csharp-advanced/obj/Debug/csharp-advanced.csprojAssemblyReference.cache
csharp-advanced/csharp-advanced/obj/Debug/csharp-advanced.exe
csharp-advanced/csharp-advanced/obj/Debug/csharp-advanced.pdb
